{% block content %}

<script src="{{ url_for('static', filename='js/datatable.js') }}"></script>
<script src="{{ url_for('static', filename='js/modals.js') }}"></script>

<div class="form-group row">
  <div class="col-md-11" style="font-size:25px">
    {{ location }}: Port Status {{ host }}
  </div>
  <div class="col-md-1"><div class="pull-right">
    <a href="{{ url_for('port_host', host=host) }}"><button class="btn btn-primary" align="left"><span class="glyphicon glyphicon-refresh "aria-hidden="true"></span></button></a>
  </div>
</div>
</div>
    <table id=mytable class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <th>Port</th>
          <th>Name {{ host }}</th>
          <th>Speed</th>
          <th>Duplex</th>
          <th>State</th>
          <th>Info</th>
        </tr>
      </thead>
      <tbody class="searchable">
      {% for value in iface_status %}
      {% set iface =  value['interface'] %}
        <tr>
          <td> {{ iface }} </td>
          <td> {{ value['name'] }} </td>
          <td> {{ value['speed'] }} </td>
          <td> {{ value['duplex'] }} </td>
          {% if value['state'] == 'connected' %}
          <td><span class="glyphicon glyphicon-ok-circle" style="color:green" aria-hidden="true" title="connected"></span><small> Up</small></td>
          {% elif value['state'] == 'notconnect' or value['state'] == 'down' %}
          <td><span class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true" title="down"></span><small> down</small></td>
          {% elif value['state'] == 'sfpAbsent' or value['state'] == 'xcvrAbsent' %}
          <td><span class="glyphicon glyphicon glyphicon-ban-circle" style="color:orange" aria-hidden="true" title="absent"></span><small> sfpAbsent</small></td>
          {% elif value['state'] == 'sfpInvalid' %}
          <td><span class="glyphicon glyphicon glyphicon-ban-circle" style="color:orange" aria-hidden="true" title="sfpInvalid"></span><small> sfpInvalid</small></td>
          {% elif value['state'] == 'inactive' %}
          <td><span class="glyphicon glyphicon glyphicon-ban-circle" style="color:orange" aria-hidden="true" title="inactive"></span><small> inactive</small></td>
          {% elif value['state'] == 'noOperMembers' %}
          <td><span class="glyphicon glyphicon glyphicon-ban-circle" style="color:orange" aria-hidden="true" title="noOperMembers"></span><small> noOperMembers</small></td>
          {% elif value['state'] == 'disabled' %}
          <td><span class="glyphicon glyphicon glyphicon-ban-circle" style="color:orange" aria-hidden="true" title="disabled"></span><small> disabled</small></td>
          {% elif value['state'] == 'suspnd' %}
          <td><span class="glyphicon glyphicon glyphicon-ban-circle" style="color:orange" aria-hidden="true" title="suspnd"></span><small> suspnd</small></td>
          {% elif 'unknown enum' in value['state'] %}
          <td><span class="glyphicon glyphicon glyphicon-ban-circle" style="color:orange" aria-hidden="true" title="unknown enum"></span><small> unknownEnum</small></td>
          {% else %}
          <td><span style="color:red">{{ value['state'] }}</span></td>
          {% endif %}
           <td class="text-nowrap">
          {% if value['vlan1'] != 'routed' %}
          <a href=javascript:void(0);" data-href="{{ url_for('ifsw', iface=iface, host=host) }}" data-iface="{{ iface }}" data-mtittle="Switchport configuration" class="openPopup"><button class="btn btn-black btn-xs" title="switchport conf" data-toggle="modal" data-target="#error-modal" >S</button></a>
          {% else %}
          <button class="btn btn-black btn-xs" title="routed port">R</button>
          {% endif %}
          <a href="javascript:void(0);" data-href="{{ url_for('iferr', iface=iface, host=host) }}" data-iface="{{ iface }}" data-mtittle="Interface errors" class="openPopup"><button class="btn btn-black btn-xs" title="port errors" data-toggle="modal" data-target="#error-modal">E</button></a></td>
          {% endfor %}
      </tbody>
    </table>

<!-- Modal -->

<div class="modal fade" id="error-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Loading...</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}
