{% extends "bootstrap/base.html" %}
{% block scripts %}
{{ super() }}
<!--Import jQuery before export.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!--Data Table-->
<script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

<!--Export table buttons-->
<script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js" ></script>
<script type="text/javascript"  src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

<!--Export table button CSS-->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">

<!--favicon.ico-->
<link rel="shortcut icon" href="{{ url_for('static', filename='pictures/favicon.ico') }}">

<!--Custom CSS-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/custom.css') }}">

<!--Export Datetimepicker-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>                       
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

{% endblock %}

{% block navbar %}
    <div class="container-fluid">
      <!-- Static navbar -->
      <nav class="navbar navbar-inverse bg-primary">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">VNET</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IFACE <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">DATACENTER N5K twins</li>
                  {% set twins = conf['pairs']  %}
                  {% for twin in twins %}
                    {% set location = twins[twin]['location']  %}
                    {% set group = twins[twin]['group']  %}
                  {% if group == 'n5k' %}
                    <li><a href="/port/{{ twin }}">{{ location | upper }}_{{ group }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">CORE N9K twins</li>
                  {% for twin in twins %}
                      {% set location = twins[twin]['location']  %}
                      {% set group = twins[twin]['group']  %}
                    {% if group == 'n9k' %}
                      <li><a href="/port/{{ twin }}">{{ location | upper }}_{{ group }}</a></li>
                    {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">POP N3K</li>
                  {% set boxes = conf['boxes']  %}
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n3k' %}
                  <li><a href="/port_host/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SFP <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">DATACENTER N5K</li>
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n5k' %}
                  <li><a href="/sfp/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">CORE N9K</li>
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n9k' %}
                  <li><a href="/sfp/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">POP N3K</li>
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n3k' %}
                  <li><a href="/sfp/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ARP <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">DATACENTER N5K</li>
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n5k' %}
                  <li><a href="/arp/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">CORE N9K</li>
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n9k' %}
                  <li><a href="/arp/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">POP N3K</li>
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n3k' %}
                  <li><a href="/arp/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MAC <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">DATACENTER N5K</li>
                  {% set boxes = conf['boxes']  %}
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n5k' %}
                  <li><a href="/mac/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">CORE N9K</li>
                  {% set boxes = conf['boxes']  %}
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n9k' %}
                  <li><a href="/mac/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">POP N3K</li>
                  {% set boxes = conf['boxes']  %}
                  {% for box in boxes %}
                  {% set location = boxes[box]['location']  %}
                  {% set group = boxes[box]['group']  %}
                  {% if group == 'n3k' %}
                  <li><a href="/mac/{{ box }}">{{ location | upper }}_{{ box }}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">VLAN <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                  <li><a href="/vlan/n5k">DATACENTER N5K</a></li>
                  <li><a href="/vlan/n9k">CORE N9K</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ConfGen <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/peering">Peering</a></li>
                  <li><a href="/vxlan">Vxlan</a></li>
                  <li><a href="/po/tn3">Port-Channel SHC3</a></li>
                  <li><a href="/po/tn4">Port-Channel DC4</a></li>
                  <li><a href="/fpvlan">FabricPath Vlan</a></li>
                  <li><a href="/l2circuit">L2 Circuit</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DDoS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/rtbh">RTBH</a></li>
                  <li><a href="/scrubbing">SCRUBBING</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PPPoE <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/ftth">FTTH</a></li>
                  <li><a href="/dsl">DSL</a></li>
                </ul>
              </li>
            <ul class="nav navbar-nav">
              <li><a href="/iferrs">IF_ERRs</a></li>
            </ul>
            <ul class="nav navbar-nav">
              <li><a href="/logs">LOGs</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
{% endblock %}

        {% block content %}{% endblock %}
        </body>
        </html>
