{% extends "base.html" %}
{% block content %}

<h3>PPPoE</h3>
<form action="" method="post" name="rtbh">
    <div class="form-group row">
        <div class="col-sm-4">
            {{ form.hidden_tag() }}
            <label>Login</label>
            {% for error in form.pppoe.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.pppoe(class_="form-control form-group", placeholder="contract@ftth.vnet.sk") }}
            <button type="submit" class="btn btn-primary" name="action" value="search">Search</button>
        </div>
        <div class="col-sm-3 text-danger" style="font-size:20px">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

        <div class="col-sm-2">
            <label>PPPoE</label>
            <ul class="list-group">
                {%- if not first_request %}
                    <li class="list-group-item">
                    {% if status %}
                        <span class="glyphicon glyphicon-ok-circle" style="color:green" title="established" aria-hidden="true"></span><small> Connected</small>
                    </li>
                    <li class="list-group-item"><small>id: </small>{{ status['.id'] }}</li>
                    <li class="list-group-item"><small>gw: </small>{{ gw }}</li>
                    <li class="list-group-item"><small>user: </small>{{ status['name'] }}</li>
                    <li class="list-group-item"><small>ip: </small>{{ status['address'] }}</li>
                    <li class="list-group-item"><small>mac: </small>{{ status['caller-id'] }}</li>
                    <li class="list-group-item"><small>vendor: </small>{{ vendor }}</li>
                    <li class="list-group-item"><small>uptime: </small>{{ status['uptime'] }}</li>
                    <li class="list-group-item"><small>shape: </small>{{ status['shape'] }}</li>
            </ul>
                    <button type="submit" class="btn btn-primary" name="action" value="terminate">Terminate</button>
                    <input type="hidden" name="id" value={{ status['.id'] }}>
                    <input type="hidden" name="gw" value={{ gw }}>
                {% else %}
                <span class="glyphicon glyphicon-remove-circle" style="color:red" title="down" aria-hidden="true"></span><small> account not found</small>
                {% endif %}
                {% else %}
            {% endif %}

      </div>
      <div class="col-sm-2">
        <label>Gateways</label>
        {% if gw_status %}
        {% for gw in  gw_status %}
          <ul class="list-group"><li class="list-group-item">
        {% if gw_status[gw] == 'OK' %}
          <span class="glyphicon glyphicon-ok-circle" style="color:green" title="established" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-remove-circle" style="color:red" title="down" aria-hidden="true"></span>
          {% endif %}
              {{ gw }}: <small>{{ gw_status[gw] }}</small></li>

        {% endfor %}
          </ul>
            {% endif %}

      </div>
    </div>
</form>
<hr>
  <div class="row">
     <div class="col-sm-12">
        <label>Log</label>
        <textarea id="content" class="form-control custom-control copy-text" rows="25" name=response>
    {%- if not first_request %}
      {%- if log %}
        {%- for k in log %}
{{ k['_source']['@timestamp'] }} {{ k['_source']['message'] }}
        {%- endfor %}
        {%- else %}No logs available
        {%- endif %}
        {%- else %}
        {%- endif %}
      </textarea>
    </div>
</div>

{% endblock %}
