{% extends "base.html" %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/datatable.js') }}"></script>

<div class="form-group row">
  <div class="col-md-11" style="font-size:25px">
   Core Interface Errors
  </div>
  <div class="col-md-1"><div class="pull-right">
    <a href="{{ url_for('iferrs')}}"><button class="btn btn-primary" align="left"><span class="glyphicon glyphicon-refresh "aria-hidden="true"></span></button></a>
  </div>
</div>
</div>
    <table id=mytable class="table table-hover table-bordered table-responsive">
      <thead>
        <tr>
          <th>Interface</th>
          <th>description</th>
          <th>align_err</th>
          <th>align_err_diff</th>
          <th>fcs_err</th>
          <th>fcs_err_diff</th>
          <th>xmit_err</th>
          <th>xmit_err_diff</th>
          <th>rcv_err</th>
          <th>rcv_err_diff</th>
          <th>undersize</th>
          <th>undersize_diff</th>
          <th>outdisc</th>
          <th>outdisc_diff</th>
        </tr>
      </thead>
      <tbody class="searchable">

      {% for key, value in ifaces.iteritems() %}
      <tr><th colspan="13">{{ key }} {{created_new}} - {{created_cur}}</td></tr>

      {% for in_key, in_value in value.iteritems() %}
        {% set iface = in_key %}
        {% set description =  in_value['desc'] %}
        {% set align_err =  in_value['eth_align_err'] %}
        {% set align_err_diff =  in_value['eth_align_err_diff'] %}
        {% set fcs_err =  in_value['eth_fcs_err'] %}
        {% set fcs_err_diff =  in_value['eth_fcs_err_diff'] %}
        {% set xmit_err =  in_value['eth_xmit_err'] %}
        {% set xmit_err_diff =  in_value['eth_xmit_err_diff'] %}
        {% set rcv_err = in_value['eth_rcv_err'] %}
        {% set rcv_err_diff =  in_value['eth_rcv_err_diff'] %}
        {% set undersize =  in_value['eth_undersize'] %}
        {% set undersize_diff =  in_value['eth_undersize_diff'] %}
        {% set outdisc =  in_value['eth_outdisc'] %}
        {% set outdisc_diff =  in_value['eth_outdisc_diff'] %}

        <tr>
          <td> {{ iface }} </td>
          <td> {{ description }} </td>
          <td> {{ align_err }} </td>
          {% if align_err_diff > 0 %}
          <td>{{ align_err_diff }} <span class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true" title="Errors"></span></td>
          {% else %}
          <td>{{ align_err_diff }}</td>
          {% endif %}
          <td> {{ fcs_err }} </td>
          {% if fcs_err_diff > 0 %}
          <td>{{ fcs_err_diff }} <span class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true" title="Errors"></span></td>
          {% else %}
          <td>{{ fcs_err_diff }}</td>
          {% endif %}
          <td> {{ xmit_err }} </td>
          {% if xmit_err_diff > 0 %}
          <td>{{ xmit_err_diff }} <span class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true" title="Errors"></span></td>
          {% else %}
          <td>{{ xmit_err_diff }}</td>
          {% endif %}
          <td> {{ rcv_err }} </td>
          {% if rcv_err_diff > 0 %}
          <td>{{ rcv_err_diff }} <span class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true" title="Errors"></span></td>
          {% else %}
          <td>{{ rcv_err_diff }}</td>
          {% endif %}
          <td> {{ undersize }} </td>
          {% if undersize_diff > 0 %}
          <td>{{ undersize_diff }} <span class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true" title="Errors"></span></td>
          {% else %}
          <td>{{ undersize_diff }}</td>
          {% endif %}
          <td> {{ outdisc }} </td>
          {% if outdisc_diff > 0 %}
          <td>{{ outdisc_diff }} <span class="glyphicon glyphicon-remove-circle" style="color:red" aria-hidden="true" title="Errors"></span></td>
          {% else %}
          <td>{{ outdisc_diff }}</td>
          {% endif %}
        <tr>
      {% endfor %}
  {% endfor %}
      </tbody>
    </table>

{% endblock %}
