configure terminal
!
default interface {{ iface1  }}
interface {{ iface1  }}
 description {{ description }}
 {%- if trunk %}
 switchport mode trunk
 switchport trunk allowed vlan {{ form.vlans.data }}
 {%- else %}
 switchport mode access
 switchport access vlan {{ form.vlans.data }}
 {%- endif %}
 storm-control broadcast level 3.00
 storm-control multicast level 3.00
!
default interface {{ iface2  }}
interface {{ iface2  }}
 description {{ description }}
 {%- if trunk %}
 switchport mode trunk
 switchport trunk allowed vlan {{ form.vlans.data }}
 {%- else %}
 switchport mode access
 switchport access vlan {{ form.vlans.data }}
 {%- endif %}
 storm-control broadcast level 3.00
 storm-control multicast level 3.00
!
end
