!SIXASR
!
interface {{ iface }}
 description {{ description }}
 mtu 9198
 negotiation auto
 transceiver permit pid all
 l2transport
!
 l2vpn
 xconnect group vlan{{vlan}}
  p2p vlan{{vlan}}
   interface {{ iface }}
   neighbor ipv4 86.110.232.227 pw-id {{ vlan }}
   backup neighbor 109.74.147.227 pw-id {{ vlan }}
!
!ASR41+ASR42
!
interface Port-channel8
service instance {{ vlan }} ethernet
 description {{ description }}
 encapsulation dot1q {{ vlan }}
 rewrite ingress tag pop 1 symmetric
!
interface pseudowire{{ vlan }}
encapsulation mpls
signaling protocol ldp
neighbor 185.176.72.127 {{ vlan }}
mtu 9184
exit
!
l2vpn xconnect context vlan{{ vlan }}
member Port-channel8 service-instance 702 
member pseudowire{{ vlan }}
!
!N41+N42
!
vlan {{ vlan }}
mode fabricpath
name {{ description }}
!
interface Po81
switchport trunk allowed vlan add {{ vlan }}
interface Po82
switchport trunk allowed vlan add {{ vlan }}
!
!N31+N32 (kvoli fabricpath domene)
!
vlan {{ vlan }}
mode fabricpath
name {{ description }}
!
end
