{% extends "base.html" %}
{% block content %}

<h3>Peering configuration</h3>
<hr>
<form action="" method="post" name="peering">
  <div class="container">
  <div class="col-sm-5">
    {{ form.hidden_tag() }}
    <label>Peering</label>
    {{ form.peering(class_="form-control form-group") }}
    <label>Description</label>
    {% for error in form.description.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.description(class_="form-control form-group", placeholder="peer description") }}
    <label>ASN number</label>
    {% for error in form.asn.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.asn(class_="form-control form-group", placeholder="peer ASN") }}
    <label>IPv4</label>
    {% for error in form.ipv4.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.ipv4(class_="form-control form-group", placeholder="peer IPv4 address") }}
    <label>IPv6</label>
    {% for error in form.ipv6.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.ipv6(class_="form-control form-group", placeholder="peer IPv6 address") }}
    <label>IPv4 prefix limit</label>
    {% for error in form.prefixlimipv4.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.prefixlimipv4(class_="form-control form-group", placeholder="peer IPv4 prefix limit") }}
    <label>IPv6 prefix limit</label>
    {% for error in form.prefixlimipv6.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{ form.prefixlimipv6(class_="form-control form-group", placeholder="peer IPv6 prefix limit") }}
     <div class="form-group form-group">
    <button type="submit" name="generate" class="btn btn-primary">Generate</button>
  </div>
  </div>
</form>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
  <label>Your Configuration</label>
     <div class="form-group form-group">
<textarea id="content" class="form-control custom-control copy-text" rows="23" style=width:450px name=configuration.data>{%- if not first_request %}
  {%- include "peering.jinja2" %}
{%- else %}
{%- endif %}
  </textarea>
  </div>
     <div class="form-group form-group">
<button class="copy-text btn btn-primary" type="button" name="copy" data-clipboard-target="#content">Copy</button>
  </div>
  </div>
  </div>

{% endblock %}
