configure terminal
!
interface port-channel{{ po_number }}
 shutdown
 description {{ description }}
 lacp suspend-individual
 {%- if trunk %}
 switchport mode trunk
 switchport trunk allowed vlan {{ form.vlans.data }}
 spanning-tree port type edge trunk
 {%- else %}
 switchport mode access
 switchport access vlan {{ form.vlans.data }}
 spanning-tree port type edge
 {%- endif %}
 no snmp trap link-status
 storm-control broadcast level 3.00
 storm-control multicast level 3.00
 no shutdown
!
default interface {{ iface1 | replace(' Up','') | replace(' Down','')}}
interface {{ iface1 | replace(' Up','') | replace(' Down','')}}
 description {{ description }}
 {%- if trunk %}
 switchport mode trunk
 switchport trunk allowed vlan {{ vlans }}
 spanning-tree port type edge trunk
 {%- else %}
 switchport mode access
 switchport access vlan {{ vlans }}
 spanning-tree port type edge
 {%- endif %}
 no lldp transmit
 no snmp trap link-status
 storm-control broadcast level 3.00
 storm-control multicast level 3.00
 channel-group {{ po_number }} mode active
!
default interface {{ iface2 | replace(' Up','') | replace(' Down','')}}
interface {{ iface2 | replace(' Up','') | replace(' Down','')}}
 description {{ description }}
 {%- if trunk %}
 switchport mode trunk
 switchport trunk allowed vlan {{ vlans }}
 spanning-tree port type edge trunk
 {%- else %}
 switchport mode access
 switchport access vlan {{ vlans }}
 spanning-tree port type edge
 {%- endif %}
 no lldp transmit
 no snmp trap link-status
 storm-control broadcast level 3.00
 storm-control multicast level 3.00
 channel-group {{ po_number }} mode active
!
end
