{% extends "base.html" %}
{% block content %}

<h3>RTBH</h3>
<form action="" method="post" name="rtbh">
  <div class="form-group row">
      <div class="col-sm-5">
        {{ form.hidden_tag() }}
        <label>IPv4</label>
        {% for error in form.ipv4.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.ipv4(class_="form-control form-group", placeholder="target of attack") }}
        <label>Action</label>
        {{ form.action(class_="form-control form-group") }}
        <button type="submit" name="push" class="btn btn-primary">Push</button>
      </div>
       <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <label>Peering status</label><br/>
        {% if status %}
          {% for k,v in status.items() %}
            {% if k == '109.74.147.190' %}
            <label>SCRUBING:</label>
              {{ k }}
            {% else %}
            <label>RTBH:</label>
              {{ k }}
            {% endif %}
            {% if v == "established" %}
              <span class="glyphicon glyphicon-ok-sign" style="color:green" title="established" aria-hidden="true"></span>
            {% else %}
              <span class="glyphicon glyphicon-remove-sign" style="color:red" title="down" aria-hidden="true"></span>
            {% endif %}
              {% if advertisement[k] %}
                {% for v in advertisement[k] %}
                <h5>advertised: {{ v | join('') }}<h5>
          {% endfor %}
          {% else %}
          <h5>advertised: no routes<h5>
              {% endif %}
          {% endfor %}
              {% else %}
              {% endif %}
      </div>
    </div>
</form>
<hr>
  <div class="row">
     <div class="col-sm-12">
      <label>Log</label>
      <textarea id="content" class="form-control custom-control copy-text" rows="25" name=response>
        {%- if log %}
      {%- for k in log %}
{{ k }}
        {%- endfor %}
        {%- else %}
        {%- endif %}
      </textarea>
    </div>
</div>

{% endblock %}
